llama-cpp-python[server]
gradio
openai
# huggingface-cli
huggingface_hub
torch
transformers
nltk
optimum
streamlit
beautifulsoup4
langchain-community
langchain_openai
whisper-cpp-pybind
python-ffmpeg
pyaudio
fastapi 
uvicorn
duckduckgo-search
pypdf
bcrypt
pyjwt
alembic>=1.9.1
SQLAlchemy
psycopg2-binary==2.9.5
email-validator>=1.0.3
sqlalchemy